html {
  background-color: var(--bg);
}

.Profile {
  position: relative;
}
/* 
  header
 */
.profile-header {
  background-color: var(--light-bg);
  height: 10vh;
  padding: 0 4vw;
}

.profile-header a {
  color: var(--secondary-font);
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header-logo,
.header-links,
.header-user-pic {
  height: 10vh;
  align-items: center;
}

.logo {
  height: inherit;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
}

.user-pic {
  background-color: var(--secondary-font);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.header-menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-menu span {
  width: 50px;
  height: 3px;
  background-color: var(--secondary-font);
  border-radius: 1px;
}

.header-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
}

.header-links-a {
  display: none;
}

.header-links-a.open {
  display: block;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-links-a.open .header-link {
  height: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--secondary-font);
  transition: 0.3s ease all;
}

.header-links-a.open .header-link:hover {
  background-color: var(--bg);
}

/* 
  main
 */
#profile-main {
  background-color: var(--bg);
  color: var(--secondary-font);
  padding: 3rem 12vw;
}

html.light .Profile .main-content > section {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--light-bg);

  -webkit-box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
  -moz-box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
  box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
}

html.dark .Profile .main-content > section {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--light-bg);
  border: 1px solid #000;
}

/* 
  user info
 */

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user-info-header {
  display: flex;
  justify-content: space-between;
}

.user-info-id {
  background-color: var(--bg);
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: .7;
  transition: all ease .3s;
  cursor: pointer;
  position: relative;
}

.user-info-id::after {
  content: 'Kopiuj';
  position: absolute;
  width: 30px;
  height: 30px;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-id:hover {
  opacity: 1;
  /* transform: scale(1.1); */
}

.user-info-pic {
  width: fit-content;
}

.u-pic {
  background-color: var(--secondary-font);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.u-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.f-pic img {
  margin: 0;
}

.user-info-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-info-name p {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-font);
  margin-bottom: 15px;
}

.user-info-edit {
  display: flex;
  justify-content: space-between;
}

#user-info-edit-btn {
  color: #fff;
  padding: 5px 20px;
}

#user-info-edit-btn a {
  color: #fff;
}

#user-info-edit-btn:hover,
#user-info-edit-btn:hover a {
  color: var(--accent);
}

/* 
  hours
 */

.hours-left-content {
  text-align: center;
}

.hours-left-number {
  color: var(--main-font);
  font-size: 3rem;
}

/* 
  deal
 */
.main-content > .deal-container p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.main-content .deal-container {
  background-color: var(--accent) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--reverse-font);
}

/* 
  teachers, friends
 */

.teachers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--bg);
}

.friends-header {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--bg);
}

.teachers-list,
.friends-list {
  margin-top: 1rem;
}

/* change later
for now will have to do */
.teachers-list {
  overflow-y: auto;
  max-height: 350px;
}

.teachers-header button {
  background-color: var(--accent);
  color: #fff;
  padding: 5px 20px;
  margin: 0;
}

.teachers-header p,
.friends-header p {
  font-size: 20px;
  color: var(--main-font);
}

.teacher-el,
.friend-el {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.6rem;
}

.teacher-el:hover,
.friend-el:hover {
  background-color: var(--hover);
}

.teacher-name {
  color: var(--main-font);
}

.t-pic {
  background-color: var(--bg);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.f-pic {
  background-color: var(--bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* 
  feedback btn
 */
body {
  position: relative;
}

.feedback-btn-container {
  position: fixed;
  width: fit-content;
  right: 20px;
  bottom: 20px;
}

#feedback-btn {
  background-color: var(--secondary-accent);
  border: 2px solid var(--secondary-accent);
  width: fit-content;
  padding: 0.6rem 1.6rem;
  border-radius: 1.6rem;
}

#feedback-btn:hover {
  background-color: var(--secondary-accent);
  border: 2px solid var(--secondary-accent);
  color: #fff;
}

/* 
  grid 
*/
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.user-info-container {
  grid-area: 1 / 1 / 2 / 2;
}

.hours-left-container {
  grid-area: 2 / 1 / 3 / 2;
}

.deal-container {
  grid-area: 3 / 1 / 4 / 2;
}

.teachers-container {
  grid-area: 4 / 1 / 5 / 2;
}

.friends-container {
  grid-area: 5 / 1 / 6 / 2;
}

/* 
  RWD 
*/
@media (min-width: 640px) {
  .header-logo {
    margin-right: auto;
  }

  .header-menu {
    display: none;
  }

  .header-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-links-a {
    display: flex;
    gap: 1.5rem;
  }

  .header-links-a.open {
    display: flex;
    position: static;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .header-links-a.open .header-link {
    height: auto;
    line-height: 10vh;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: auto;
    background-color: none;
    border-bottom: none;
    transition: none;
  }

  .header-links-a.open .header-link:hover {
    background-color: var(--light-bg);
  }
}

.u-pic img {
  margin: 0;
}

@media (min-width: 920px) {
  .main-content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .user-info-container {
    grid-area: 1 / 1 / 6 / 6;
  }

  .hours-left-container {
    grid-area: 6 / 1 / 8 / 6;
  }

  .deal-container {
    grid-area: 8 / 1 / 10 / 6;
  }

  .teachers-container {
    grid-area: 1 / 6 / 7 / 15;
  }

  .friends-container {
    grid-area: 7 / 6 / 10 / 15;
  }
}
