.offers-grid {
  min-height: 90vh;
  background-color: var(--bg);
  padding: 40px 10px;
}

.offers-content {
  background-color: var(--light-bg);
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 2rem;
  margin: auto;
  border-radius: 1.4rem;
  min-height: 78vh;
}

.Waiting.light .offers-content {
  -webkit-box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
  -moz-box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
  box-shadow: 8px 8px 28px -15px rgba(66, 87, 90, 0.85);
}

.Waiting.dark .offers-content {
  border: 1px solid #000;
}

.offer-subject {
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--light-bg);
}

.offer-title {
  color: var(--secondary-font);
  text-align: center;
  padding: 0.6rem 0 1.4rem 0;
}

.single-offer {
  background: var(--bg);
  border-radius: 1.4rem;
  width: 280px;
  min-height: 180px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Waiting button {
  min-width: fit-content;
  width: 140px;
  margin: auto;
}

.refresh {
  background-color: var(--accent);
  color: #fff;
  padding: 5px 20px;
  margin: 0;
}

.modal-image img {
  margin: 0;
}
